# Variables de entorno
.env

# Python
__pycache__/
*.py[cod]
*.pyo

# Entornos virtuales
venv/
.venv/
env/

# Flask
instance/

# Archivos del sistema
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log