<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlusGo</title>
    <link rel="icon" href="{{ url_for('static', filename='images/plusgo.png') }}" type="image/png">
    <link rel="manifest" href="{{ url_for('static', filename='pwa/manifest.json') }}" type="application/manifest+json">

    <meta name="theme-color" content="#000000">
    <!-- swet alert -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <!-- cdn swet alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <!-- fuente Montserrat -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <!-- Datatables -->
    <link href="https://cdn.datatables.net/3.0.0/css/dataTables.bootstrap5.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/columncontrol/2.0.0/css/columnControl.dataTables.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/colreorder/3.0.0/css/colReorder.bootstrap5.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/4.0.1/css/buttons.bootstrap5.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/keytable/3.0.0/css/keyTable.bootstrap5.css" />

    <!-- Selec2 -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css"
        rel="stylesheet">
    <!-- cargar la pagina nProgress -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.css">
    <!-- animaciones en la carga -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- rangos de fecha y fechas -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css">
    <!-- iconos -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css" />
    <!-- css base -->
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/base.css')}}">



    <script>
        applyAsideState = (collapsed) => {
            const button = document.getElementById("asidebutton");
            const main = document.querySelector("main");
            const aside = button.closest("aside");
            const a = aside.querySelectorAll("a");
            const spans = aside.querySelectorAll("span");
            const icon = button.querySelector("i");
            if (collapsed) {
                spans.forEach((el) => el.classList.add("d-none"));
                a.forEach((el) => {
                    el.classList.add("justify-content-center");
                    el.classList.replace("border-start", "border-bottom");
                });
                button.classList.replace("end-0", "start-50");
                button.classList.replace("translate-middle-y", "translate-middle");
                button.classList.remove("hidden");
                icon.classList.replace("ti-layout-sidebar-left-collapse", "ti-layout-sidebar-right-collapse");
                aside.classList.replace("col-md-2", "col-md-1");
                main.classList.replace("col-md-9", "col-md-10");
                main.classList.replace("col-lg-10", "col-lg-11");
            } else {
                spans.forEach((el) => el.classList.remove("d-none"));
                a.forEach((el) => {
                    el.classList.remove("justify-content-center");
                    el.classList.replace("border-bottom", "border-start");
                });
                button.classList.replace("start-50", "end-0");
                button.classList.replace("translate-middle", "translate-middle-y");
                button.classList.add("hidden");
                icon.classList.replace("ti-layout-sidebar-right-collapse", "ti-layout-sidebar-left-collapse");
                aside.classList.replace("col-md-1", "col-md-2");
                main.classList.replace("col-md-10", "col-md-9");
                main.classList.replace("col-lg-11", "col-lg-10");
            }
        }

        function toggleAside() {
            const collapsed = sessionStorage.getItem("aside") === "view";
            sessionStorage.setItem("aside", collapsed ? "hidden" : "view");
            applyAsideState(!collapsed);
        }
    </script>

</head>

<body>
    <div class="container-fluid">
        <button class="btn d-md-none position-fixed bottom-0 end-0 m-3 z-1 btn_blue_plusgo text-white"
            data-bs-toggle="offcanvas" data-bs-target="#mobileSidebar">
            <i class="ti ti-baseline-density-medium"></i>
        </button>
        <div class="row flex-nowrap">
            <!-- Sidebar -->
            <aside
                class="d-none d-md-flex sticky-top pt-4 shadow gap-2 flex-column rounded-end-4 bg-white col-md-2 vh-100 bg_plusgo_login"
                style="width: fit-content;">
                <div class="sticky-top fw-bold d-flex justify-content-center position-relative">
                    <div class="position-absolute top-0 end-0 translate-middle-y text-white text-opacity-75 fs-4 hidden"
                        type="button" id="asidebutton" onclick="toggleAside()">
                        <i class="ti ti-layout-sidebar-left-collapse"></i>
                    </div>
                    <a href="{{url_for('dashboard.dashboard')}}">
                        <img src="{{ url_for('static', filename='images/plusgo.png') }}" class="mt-2"
                            style="width: 60px;">
                    </a>
                </div>

                <div class="d-flex overflow-auto flex-column gap-2 hidden-bar-overflow">
                    <a href="{{url_for('dashboard.dashboard')}}"
                        class="text-nowrap text-decoration-none rounded p-1 w-100 d-flex align-items-center gap-2 {{'text-primary-emphasis bg-primary-subtle fw-medium shadow-sm border-2 border-start border-primary' if  request.path == '/' else 'text-white text-opacity-75'}}">
                        <i class="ti ti-home fw-medium fs-5"></i>
                        <span class="text-truncate">
                            Panel Principal
                        </span>
                    </a>
                    {% if 'platforms.view' in session['permissionData'] %}
                    <a href="{{url_for('platform.getPlatform')}}"
                        class="shadows-sm text-nowrap text-decoration-none rounded p-1 w-100 d-flex align-items-center gap-2 {{'text-primary-emphasis bg-primary-subtle fw-medium shadow-sm border-2 border-start border-primary' if  '/platform' in request.path or '/account' in request.path and '/trigger' not in request.path else 'text-white text-opacity-75'}}">
                        <i class="ti ti-stack-2 fw-medium fs-5"></i>
                        <span class="text-truncate">
                            Plataformas
                        </span>
                    </a>
                    {% endif %}
                    {% if 'customers.view' in session['permissionData'] %}
                    <a href="{{url_for('customer.getCustomer')}}"
                        class="shadows-sm text-nowrap text-decoration-none rounded p-1 w-100 d-flex align-items-center gap-2 {{'text-primary-emphasis bg-primary-subtle fw-medium shadow-sm border-2 border-start border-primary' if  request.path == '/customer' else 'text-white text-opacity-75'}}">
                        <i class="ti ti-users fw-medium fs-5"></i>
                        <span class="text-truncate">
                            Clientes
                        </span>
                    </a>
                    {% endif %}
                    {% if 'sales.view' in session['permissionData']%}
                    <a href="{{url_for('sale.sale')}}"
                        class="shadows-sm text-nowrap text-decoration-none rounded p-1 w-100 d-flex align-items-center gap-2 {{'text-primary-emphasis bg-primary-subtle fw-medium shadow-sm border-2 border-start border-primary' if '/sale' in request.path and '/trigger' not in request.path else 'text-white text-opacity-75'}}">
                        <i class="ti ti-shopping-bag fw-medium fs-5"></i>
                        <span class="text-truncate">
                            Ventas
                        </span>
                    </a>
                    {% endif %}
                    <a href="{{url_for('trigger.getTriggerSale')}}"
                        class="shadows-sm text-nowrap text-decoration-none rounded p-1 w-100 d-flex align-items-center gap-2 {{'text-primary-emphasis bg-primary-subtle fw-medium shadow-sm border-2 border-start border-primary' if  '/trigger' in request.path else 'text-white text-opacity-75'}}">
                        <i class="ti ti-history fw-medium fs-5"></i>
                        <span class="text-truncate">
                            Historial
                        </span>
                    </a>
                    <hr class="my-1 text-light text-opacity-75">

                    <a href="#"
                        class="shadows-sm text-nowrap text-decoration-none rounded p-1 w-100 d-flex align-items-center gap-2 {{'text-primary-emphasis bg-primary-subtle fw-medium shadow-sm border-2 border-start border-primary' if  '/import-masive' in request.path else 'text-white text-opacity-75'}}">
                        <i class="ti ti-browser-check fw-medium fs-5"></i>
                        <span class="text-truncate">
                            Validar
                        </span>
                    </a>
                    <hr class="my-1 text-light text-opacity-75">

                    <a href="#"
                        class="shadows-sm text-nowrap text-decoration-none rounded p-1 w-100 d-flex align-items-center gap-2 {{'text-primary-emphasis bg-primary-subtle fw-medium shadow-sm border-2 border-start border-primary' if  '/import-masive' in request.path else 'text-white text-opacity-75'}}">
                        <i class="ti ti-cloud-upload fw-medium fs-5"></i>
                        <span class="text-truncate">
                            Importar
                        </span>
                    </a>

                    {% if 'rbacs.view' in session['permissionData']%}
                    <hr class="my-1 text-light text-opacity-75">

                    <a href="{{url_for('rbacuserrole.getRbac')}}"
                        class="shadows-sm text-nowrap text-decoration-none rounded p-1 w-100 d-flex align-items-center gap-2 {{'text-primary-emphasis bg-primary-subtle fw-medium shadow-sm border-2 border-start border-primary' if  '/rbac' in request.path else 'text-white text-opacity-75'}}">
                        <i class="ti ti-user-cog fw-medium fs-5"></i>
                        <span class="text-truncate">
                            Permisos
                        </span>
                    </a>


                    {% endif %}

                    {% if 'management.view' in session['permissionData']%}
                    <hr class="my-1 text-light text-opacity-75">
                    <a href="{{url_for('manage.getManage')}}"
                        class="shadows-sm text-nowrap text-decoration-none rounded p-1 w-100 d-flex align-items-center gap-2 {{'text-primary-emphasis bg-primary-subtle  shadow-sm border-2 border-start border-primary shadow-sm border-2 border-start border-primary' if  request.path == '/manage' else 'text-white text-opacity-75'}}">
                        <i class="ti ti-mail-cog fw-medium fs-5"></i>
                        <span class="text-truncate">
                            Codigos
                        </span>
                    </a>
                    {% endif %}
                    {% if 'codes.consult' in session['permissionData']%}
                    <a href="{{url_for('consult.consult')}}"
                        class="shadows-sm  text-nowrap text-decoration-none rounded p-1 w-100 d-flex align-items-center gap-2 {{'text-primary-emphasis bg-primary-subtle  shadow-sm border-2 border-start border-primary shadow-sm border-2 border-start border-primary' if  request.path == '/consult' else 'text-white text-opacity-75'}}">
                        <i class="ti ti-mail-search fw-medium fs-5"></i>
                        <span class="text-truncate">
                            Consulta
                        </span>
                    </a>
                    {% endif %}
                </div>

            </aside>

            <!-- Sidebar Mobile -->
            <aside class="pt-4 gap-2 flex-column rounded-end-4 bg_plusgo_login offcanvas offcanvas-start"
                id="mobileSidebar" tabindex="-1">
                <div class="sticky-top fw-bold d-flex justify-content-between">

                    <a href="{{url_for('dashboard.dashboard')}}">
                        <img src="{{ url_for('static', filename='images/plusgo.png') }}" class="mt-1"
                            style="width: 90px;">
                    </a>
                    <button type="button" class="btn-close-white btn-close" data-bs-dismiss="offcanvas"></button>
                </div>

                <div class="d-flex overflow-auto flex-column gap-2 hidden-bar-overflow">
                    <a href="{{url_for('dashboard.dashboard')}}"
                        class="text-nowrap text-decoration-none rounded p-1 w-100 d-flex align-items-center gap-2 {{'text-primary-emphasis bg-primary-subtle fw-medium shadow-sm border-2 border-start border-primary' if  request.path == '/' else 'text-light text-opacity-75'}}">
                        <i class="ti ti-home fw-medium fs-5"></i>
                        <span class="text-truncate">
                            Panel Principal
                        </span>
                    </a>
                    {% if 'platforms.view' in session['permissionData'] %}
                    <a href="{{url_for('platform.getPlatform')}}"
                        class="shadows-sm text-nowrap text-decoration-none rounded p-1 w-100 d-flex align-items-center gap-2 {{'text-primary-emphasis bg-primary-subtle fw-medium shadow-sm border-2 border-start border-primary' if  '/platform' in request.path or '/account' in request.path and '/trigger' not in request.path else 'text-light text-opacity-75'}}">
                        <i class="ti ti-stack-2 fw-medium fs-5"></i>
                        <span class="text-truncate">
                            Plataformas
                        </span>
                    </a>
                    {% endif %}
                    {% if 'customers.view' in session['permissionData'] %}
                    <a href="{{url_for('customer.getCustomer')}}"
                        class="shadows-sm text-nowrap text-decoration-none rounded p-1 w-100 d-flex align-items-center gap-2 {{'text-primary-emphasis bg-primary-subtle fw-medium shadow-sm border-2 border-start border-primary' if  request.path == '/customer' else 'text-light text-opacity-75'}}">
                        <i class="ti ti-users fw-medium fs-5"></i>
                        <span class="text-truncate">
                            Clientes
                        </span>
                    </a>
                    {% endif %}
                    {% if 'sales.view' in session['permissionData']%}
                    <a href="{{url_for('sale.sale')}}"
                        class="shadows-sm text-nowrap text-decoration-none rounded p-1 w-100 d-flex align-items-center gap-2 {{'text-primary-emphasis bg-primary-subtle fw-medium shadow-sm border-2 border-start border-primary' if  request.path == '/sale' and '/trigger' not in request.path else 'text-light text-opacity-75'}}">
                        <i class="ti ti-shopping-bag fw-medium fs-5"></i>
                        <span class="text-truncate">
                            Ventas
                        </span>
                    </a>
                    {% endif %}
                    <a href="{{url_for('trigger.getTriggerSale')}}"
                        class="shadows-sm text-nowrap text-decoration-none rounded p-1 w-100 d-flex align-items-center gap-2 {{'text-primary-emphasis bg-primary-subtle fw-medium shadow-sm border-2 border-start border-primary' if  '/trigger' in request.path else 'text-light text-opacity-75'}}">
                        <i class="ti ti-history fw-medium fs-5"></i>
                        <span class="text-truncate">
                            Historial
                        </span>
                    </a>

                    <hr class="my-1 text-light text-opacity-75">

                    <a href="#"
                        class="shadows-sm text-nowrap text-decoration-none rounded p-1 w-100 d-flex align-items-center gap-2 {{'text-primary-emphasis bg-primary-subtle fw-medium shadow-sm border-2 border-start border-primary' if  '/import-masive' in request.path else 'text-white text-opacity-75'}}">
                        <i class="ti ti-browser-check fw-medium fs-5"></i>
                        <span class="text-truncate">
                            Validar
                        </span>
                    </a>
                    <hr class="my-1 text-light text-opacity-75">

                    <a href="#"
                        class="shadows-sm text-nowrap text-decoration-none rounded p-1 w-100 d-flex align-items-center gap-2 {{'text-primary-emphasis bg-primary-subtle fw-medium shadow-sm border-2 border-start border-primary' if  '/import-masive' in request.path else 'text-white text-opacity-75'}}">
                        <i class="ti ti-cloud-upload fw-medium fs-5"></i>
                        <span class="text-truncate">
                            Importar
                        </span>
                    </a>

                    {% if 'rbacs.view' in session['permissionData']%}
                    <hr class="my-1  text-light text-opacity-75">
                    <a href="{{url_for('rbacuserrole.getRbac')}}"
                        class="shadows-sm text-nowrap text-decoration-none rounded p-1 w-100 d-flex align-items-center gap-2 {{'text-primary-emphasis bg-primary-subtle fw-medium shadow-sm border-2 border-start border-primary' if  '/rbac' in request.path else 'text-light text-opacity-75'}}">
                        <i class="ti ti-user-cog fw-medium fs-5"></i>
                        <span class="text-truncate">
                            Permisos
                        </span>
                    </a>
                    {% endif %}

                    {% if 'management.view' in session['permissionData']%}
                    <hr class="my-1  text-light text-opacity-75">
                    <a href="{{url_for('manage.getManage')}}"
                        class="shadows-sm text-nowrap text-decoration-none rounded p-1 w-100 d-flex align-items-center gap-2 {{'text-primary-emphasis bg-primary-subtle  shadow-sm border-2 border-start border-primary shadow-sm border-2 border-start border-primary' if  request.path == '/manage' else 'text-light text-opacity-75'}}">
                        <i class="ti ti-mail-cog fw-medium fs-5"></i>
                        <span class="text-truncate">
                            Codigos
                        </span>
                    </a>
                    {% endif %}
                    {% if 'codes.consult' in session['permissionData']%}
                    <a href="{{url_for('consult.consult')}}"
                        class="shadows-sm  text-nowrap text-decoration-none rounded p-1 w-100 d-flex align-items-center gap-2 {{'text-primary-emphasis bg-primary-subtle  shadow-sm border-2 border-start border-primary shadow-sm border-2 border-start border-primary' if  request.path == '/consult' else 'text-light text-opacity-75'}}">
                        <i class="ti ti-mail-search fw-medium fs-5"></i>
                        <span class="text-truncate">
                            Consulta
                        </span>
                    </a>
                    {% endif %}
                </div>

            </aside>
            <main class="px-2 py-3 mx-auto mb-5 col-12 col-md-9 col-lg-10" style="max-width: 1500px">
                <script>
                    applyAsideState(sessionStorage.getItem("aside") === "view");
                </script>
                {% block body %}
                {% endblock %}

            </main>
        </div>

    </div>

    <!-- OBTENER TODOS MENSAJES FLASHES DEL BACKEND -->
    {% for category, message in get_flashed_messages(with_categories=true) %}
    <script>
        Swal.fire({
            title: '{{ message }}',
            icon: '{{ "error" if category=="error" else "success" if category=="success" else "info" }}',
            timer: 3000,
            showConfirmButton: false
        });
    </script>
    {% endfor %}
    <!-- jquery global -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <!-- carga de pagina -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.js"></script>
    <!-- animaciones en la carga -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- DataTables -->
    <script src="https://cdn.datatables.net/3.0.0/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/columncontrol/2.0.0/js/dataTables.columnControl.min.js"></script>
    <script src="https://cdn.datatables.net/colreorder/3.0.0/js/dataTables.colReorder.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/4.0.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/keytable/3.0.0/js/dataTables.keyTable.min.js"></script>

    <script src="https://cdn.datatables.net/3.0.0/js/dataTables.bootstrap5.js"></script>
    <script src="https://cdn.datatables.net/colreorder/3.0.0/js/colReorder.bootstrap5.js"></script>
    <script src="https://cdn.datatables.net/buttons/4.0.1/js/buttons.bootstrap5.js"></script>
    <script src="https://cdn.datatables.net/keytable/3.0.0/js/keyTable.bootstrap5.js"></script>

    <!-- Select2 -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <!-- cleave -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.6.0/cleave.min.js"
        integrity="sha512-KaIyHb30iXTXfGyI9cyKFUIRSSuekJt6/vqXtyQKhQP6ozZEGY8nOtRS6fExqE4+RbYHus2yGyYg1BrqxzV6YA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/cleave.js@1/dist/addons/cleave-phone.co.js"></script>
    <!-- Graficos de index -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- alertas flashy -->
    <script src="https://unpkg.com/@pablotheblink/flashyjs@1.0.5/flashy.js"></script>
    <!-- rangos de fecha y fechas -->
    <script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <!-- confeti -->
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.3/dist/confetti.browser.min.js"></script>
    <!-- JS DEL LAYOUT -->
    <script src="{{ url_for('static', filename = 'javascript/base.js') }}"></script>

    {% block script %}
    {% endblock %}

</body>

</html>