* {
  font-family: Montserrat;
}

body {
  max-width: 100%;
  min-height: 100vh;
  background:
    linear-gradient(300deg, rgba(0, 0, 0, 0.901), rgba(4, 17, 43, 0.92)),
    url("/static/images/pattern.png");
  background-size: cover;
}

h1 {
  font-size: clamp(6rem, 15vw, 12rem);
}
