{% extends 'layout_2.html'%}
{% block body %}
{% for category, message in get_flashed_messages(with_categories=true) %}
<script>
    Swal.fire({
        title: '{{ message }}',
        icon: '{{ "error" if category=="error" else "success" if category=="success" else "info" }}',
        timer: 3000,
        showConfirmButton: false
    });
</script>
{% endfor %}

<!-- Main Content -->
<div class="col p-3">

    <!-- Topbar -->
    <div class="d-flex justify-content-between align-items-center mb-4">
        <div>
            <h3 class="fw-bold m-0">Dashboard</h3>
            <small class="text-muted">Informacion general PlusGo</small>
        </div>
        <button class="btn btn-sm rounded-pill" style="background-color: rgba(4,17,43,0.92); color: white">
            <a href="{{url_for('login.logout')}}" class="text-white text-decoration-none shadow mt-auto">
                Cerrar Sesion
            </a>
        </button>
    </div>

    <!-- fila -->
    <div class="row g-4 mb-2">
        <div class="col-md-6"  >
            <div class="card border-0 shadow">
                <div class="card-body ">
                    <div class="table-responsive">
                        <h5 class="mb-3">Cuentas por vencer</h5>

                        <table class="table table-hover align-middle mb-0" id="tableAcc">
                            <thead>
                                <tr>
                                    <th>
                                        Plataforma
                                    </th>
                                    <th>
                                        Apodo
                                    </th>
                                    <th>
                                        Fch. Pago
                                    </th>
                                    <th>
                                        Abrir
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for acc in account %}
                                <tr>
                                    <td>{{ acc[1] }}</td>
                                    <td>{{ acc[2] }}</td>
                                    <td>{{ acc[3] }}</td>
                                    <td class="text-end">
                                        <!-- abrir plataforma -->
                                        <a href="{{url_for('account.getAccount', pla_id = acc[0])}}"
                                            class="btn btn-sm btn-outline-secondary">
                                            <i class="bi bi-person-lines-fill"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6"  >
            <div class="card shadow border-0">
                <div class="card-body">
                    <div class="table-responsive">

                        <h5 class="mb-3">Ultimos Movimientos</h5>
                        <table class="table table-hover align-middle mb-0" id="tableUltTrgSale">
                            <thead>
                                <tr>
                                    <th>Accion</th>
                                    <th>Fecha</th>
                                    <th>Cliente</th>
                                    <th>Precio</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for data in UltSale %}
                                <tr>
                                    <td>{{data['trg_action']}}</td>
                                    <td>{{data['trg_date']}}</td>
                                    <td>{{data['cst_name']}} {{data['cst_lastname']}}</td>
                                    <td>{{data['sal_price']}} </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- fila -->
    <div class="row g-4 mb-2">
        <div class="col-md-12">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <div class="table-responsive">

                        <h5 class="mb-3">Ventas por vencer</h5>
                        <table class="table table-hover align-middle mb-0" id="tableSale">
                            <thead>
                                <tr>
                                    <th>Cliente</th>
                                    <th>Vencimineto</th>
                                    <th>Plataforma</th>
                                    <th>Cuenta</th>
                                    <th>Perfil</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for sale in sale %}
                                <tr>
                                    <td>
                                        {{sale[0]}} {{sale[1]}}
                                    </td>

                                    <td>{{sale[2]}}</td>

                                    <td>
                                        {{sale[5]}}
                                    </td>

                                    <td>
                                        {{sale[3] if sale[3] else (sale[4])}}
                                    </td>

                                    <td>{{sale[6]}}</td>

                                    <td class="text-center">
                                        <!-- abir venta -->
                                        <a href="{{url_for('sale.getSale', pla_id = sale[7])}}"
                                            class="btn btn-sm btn-outline-secondary"><i
                                                class="bi bi-person-lines-fill"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- fila -->
    <div class="row g-4 mb-2">
        <div class="col-md-8" >
            <div class="card shadow border-0 h-100">
                <div class="card-body">
                    <canvas id="myChartSale" class="w-100 h-100" style="margin: auto;"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow border-0" >
                <div class="card-body">
                    <canvas id="myChartPlatform" class="w-100 h-100" style="margin: auto;"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{%block script%}
<script>
    const cSale = document.getElementById('myChartSale');
    const meses = {{ meses | safe }};
    const totalsale = {{ totalsale | safe }};
    new Chart(cSale, {
        type: 'bar',
        data: {
            labels: meses,
            datasets: [{
                label: 'Ventas por Mes',
                data: totalsale,
                borderWidth: 3
            }]
        },

        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true
                }
            },
        }
    });

    const cPlatform = document.getElementById('myChartPlatform');
    const plaName = {{ plaName | safe }};
    const plaSale = {{ plaSale | safe }};
    new Chart(cPlatform, {
        type: 'doughnut',
        data: {
            labels: plaName,
            datasets: [{
                data: plaSale,
                borderWidth: 0
            }]
        },

        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Plataformas Vendidas'
                }
            }
        },

    });


    $(document).ready(function () {
        $.fn.dataTable.ext.search.push(function (settings, data, dataIndex) {

            // 1. Calcular la fecha límite (Hoy  3 días)
            var fechaLimite = new Date();

            // Diferenciamos por el ID de la tabla
            if (settings.nTable.id === 'tableSale') {
                var fechaCelda = new Date(data[1]); // Columna fecha
                return fechaCelda <= fechaLimite.setDate(fechaLimite.getDate() + 3);
            }
            // Diferenciamos por el ID de la tabla
            if (settings.nTable.id === 'tableAcc') {
                var fechaCelda = new Date(data[2]); // Columna fecha
                return fechaCelda <= fechaLimite.setDate(fechaLimite.getDate() + 3);
            }

            if (settings.nTable.id === 'tableUltTrgSale') {
                var fechaCelda = new Date(data[1]); // Columna fecha
                return true;
            }

            // 3. Lógica de filtrado: Menor o igual a la fecha límite u hoy
            if (fechaCelda == fechaLimite) {
                return true; // Se muestra la fila
            }
            if (fechaCelda <= fechaLimite) {
                return true; // Se muestra la fila
            }

            return false; // Se oculta la fila
        }
        );

        $('#tableUltTrgSale').DataTable({
            order: [],
            pageLength: 5,
            language: {
                url: "https://cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json"
            },
            "columnDefs": [
                {
                    targets: [2], // Ajusta al índice de tu columna de fecha
                    render: function (data, type, row) {
                        if (type === 'display' && data) {
                            // Para formato ISO con hora: "2024-01-15 14:30:00"
                            let partes = data.split(' ');
                            if (partes.length === 2) {
                                let fechaPartes = partes[0].split('-');
                                if (fechaPartes.length === 3) {
                                    return `${fechaPartes[2]}/${fechaPartes[1]}/${fechaPartes[0]} ${partes[1]}`; // DD/MM/YYYY HH:MM:SS
                                }
                            }
                        }
                        return data;
                    }
                },{
                    "targets": [3],
                    "render": function (data, type, row) {
                        if (type === 'display') {
                            let formateado = new Intl.NumberFormat('es-CO', {
                                style: 'currency',
                                currency: 'COP',
                                minimumFractionDigits: 0,
                                maximumFractionDigits: 0
                            }).format(data);

                            return formateado;

                        }
                        return data;
                    }
                }
            ],
            layout: {
                bottomEnd: null,
                topEnd: null,
                topStart:null
            }
        });


        $('#tableSale').DataTable({
            order: [],
            pageLength: 10,
            stateSave: true,
            language: {
                url: "https://cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json"
            },
            "columnDefs": [
                {
                    targets: [1], // Ajusta al índice de tu columna de fecha
                    render: function (data, type, row) {
                        if (type === 'display' && data) {
                            // Para formato ISO: "2024-01-15"
                            let partes = data.split('-');
                            if (partes.length === 3) {
                                return `${partes[2]}/${partes[1]}/${partes[0]}`; // DD/MM/YYYY
                            }
                        }
                        return data;
                    }
                },
            ],
            layout: {
                bottomEnd: null,
                topEnd: null,
            }
        });


        $('#tableAcc').DataTable({
            order: [],
            pageLength: 10,
            stateSave: true,
            language: {
                url: "https://cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json"
            },
            "columnDefs": [
                {
                    targets: [2], // Ajusta al índice de tu columna de fecha
                    render: function (data, type, row) {
                        if (type === 'display' && data) {
                            // Para formato ISO: "2024-01-15"
                            let partes = data.split('-');
                            if (partes.length === 3) {
                                return `${partes[2]}/${partes[1]}/${partes[0]}`; // DD/MM/YYYY
                            }
                        }
                        return data;
                    }
                },
            ],
            layout: {
                bottomEnd: null,
                topEnd: null,
            }
        });
    });
</script>

{%endblock%}
