{%extends 'layout_2.html'%}
{% block body %}

{% for category, message in get_flashed_messages(with_categories=true) %}
<script>
    Swal.fire({
        title: '{{ message }}',
        icon: '{{ "error" if category=="error" else "success" if category=="success" else "info" }}',
        timer: 3000,
        showConfirmButton: false
    });
</script>
{% endfor %}

<div class="col p-4">

    <!-- Header -->
    <div class="d-flex justify-content-between mb-4">
        <div>
            <h3 class="fw-bold mb-0">Historial</h3>
            <small class="text-muted">Gestión de cuentas de la plataforma</small>
        </div>
        <div class="btn-group">
            <a href="{{url_for('trigger.getTriggerSale')}}" class="btn btn-sm">Ventas</a>
            <a href="{{url_for('trigger.getTriggerAccount')}}" class="btn btn-sm">Cuentas</a>
            <a href="{{url_for('trigger.getTriggerPlatform')}}" class="btn btn-sm">Plataformas</a>
            <a href="{{url_for('trigger.getTriggerProfile')}}" class="btn btn-sm">Perfiles</a>
        </div>
    </div>

    <!-- ================= VENTAS ================= -->
    {% if sale %}
    <div class="card shadow card border-0 mb-4">
        <div class="card-body table-responsive">
            <table class="table table-hover align-middle" id="tableSale">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Acción</th>
                        <th class="text-center">Fecha</th>
                        <th>Cliente</th>
                        <th>Precio</th>
                        <th class="text-end">Detalle</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in sale %}
                    <tr>
                        <td>{{data['trg_id']}}</td>
                        <td>{{data['trg_action']}}</td>
                        <td class="text-center">{{data['trg_date']}}</td>
                        <td>{{data['cst_name']}} {{data['cst_lastname']}}</td>
                        <td>{{data['sal_price']}} </td>
                        <td class="text-end">
                            <button class="btn btn-sm btn-outline-primary" data-bs-toggle="modal"
                                data-bs-target="#getTrigger{{data['trg_id']}}">
                                <i class="bi bi-list-columns-reverse"></i>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

    <!-- ================= CUENTAS ================= -->
    {% if account %}
    <div class="card shadow card border-0 mb-4">
        <div class="card-body table-responsive">
            <table class="table table-hover align-middle" id="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Acción</th>
                        <th class="text-center">Fecha</th>
                        <th>Cuenta</th>
                        <th>Plataforma</th>
                        <th class="text-end">Detalle</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in account %}
                    <tr>
                        <td>{{data['trg_id']}}</td>
                        <td>{{data['trg_action']}}</td>
                        <td class="text-center">{{data['trg_date']}}</td>
                        <td>{{data['acc_email'] if data['acc_email'] else (data['acc_number_phone'] if
                            data['acc_number_phone'] else 'Sin Cuenta')}}</td>
                        <td>{{data['pla_name']}}</td>
                        <td class="text-end">
                            <button class="btn btn-sm btn-outline-primary" data-bs-toggle="modal"
                                data-bs-target="#getTrigger{{data['trg_id']}}">
                                <i class="bi bi-list-columns-reverse"></i>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

    <!-- ================= PLATAFORMAS ================= -->
    {% if platform %}
    <div class="card shadow card border-0 mb-4">
        <div class="card-body table-responsive">
            <table class="table table-hover align-middle" id="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Acción</th>
                        <th class="text-center">Fecha</th>
                        <th>Plataforma</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in platform %}
                    <tr>
                        <td>{{data['trg_id']}}</td>
                        <td>{{data['trg_action']}}</td>
                        <td class="text-center">{{data['trg_date']}}</td>
                        <td>{{data['pla_name']}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

    <!-- ================= PERFILES ================= -->
    {% if profile %}
    <div class="card shadow card border-0 mb-4">
        <div class="card-body table-responsive">
            <table class="table table-hover align-middle" id="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Acción</th>
                        <th>Perfil</th>
                        <th class="text-center">Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in profile %}
                    <tr>
                        <td>{{data['trg_id']}}</td>
                        <td>{{data['trg_action']}}</td>
                        <td>{{data['pro_profile']}}</td>
                        <td class="text-center">{{data['trg_date']}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
    <!-- ================= MODAL VENTAS ================= -->

    {% for data in sale %}
    <div class="modal fade" id="getTrigger{{data['trg_id']}}" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content border-0 shadow">

                <div class="modal-header bg-light">
                    <h5 class="modal-title">
                        Detalle de Venta
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body p-4">
                    <div class="d-flex align-items-center mb-4">
                        <div class="ms-3">
                            <h5 class="mb-0 fw-bold text-dark">
                                {{data['cst_name'] if data['cst_name'] else ''}} {{data['cst_lastname'] if
                                data['cst_lastname'] else ''}}
                            </h5>
                            <div class="d-flex flex-column align-items-start">
                                <small class="text-muted"><i class="bi bi-envelope-at me-2 text-secondary"></i>
                                    Cuenta:
                                    {{data['acc_email'] if data['acc_email'] else (data['acc_number_phone'] if
                                    data['acc_number_phone'] else 'Sin Cuenta')}}</small>
                                <small class="text-muted"><i class="bi bi-tag-fill me-1"></i>Perfil:
                                    {{data['pro_profile'] if data['pro_profile'] else 'Sin Perfil'}}</small>
                            </div>
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-6">
                            <div class="p-3 border rounded bg-light">
                                <small class="text-muted d-block text-uppercase fw-bold"
                                    style="font-size: 0.7rem;">Fecha
                                    Inicio</small>
                                <span class="text-dark"><i
                                        class="bi bi-calendar-event me-2"></i>{{data['sal_date_start'] if
                                    data['sal_date_start'] else '--'}}</span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="p-3 border rounded bg-light">
                                <small class="text-muted d-block text-uppercase fw-bold"
                                    style="font-size: 0.7rem;">Fecha
                                    Fin</small>
                                <span class="text-dark"><i class="bi bi-calendar-check me-2"></i>{{data['sal_date_end']
                                    if
                                    data['sal_date_end'] else '--'}}</span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div
                                class="p-3 border rounded bg-opacity-10 d-flex justify-content-between align-items-center">
                                <span class="fw-bold"><i class="bi bi-cash-stack me-2"></i>PRECIO TOTAL</span>
                                <h5 class="mb-0 fw-bold" id="modal-precio-formateado">
                                    $ {{data['sal_price'] if data['sal_price'] else '0'}}
                                </h5>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="p-3 border rounded">
                                <small class="text-muted d-block text-uppercase fw-bold mb-1"
                                    style="font-size: 0.7rem;">Descripción</small>
                                <p class="mb-0 small italic">
                                    <i class="bi bi-info-circle me-1"></i> {{data['sal_description'] if
                                    data['sal_description'] else 'Ninguna Descripcion'}}
                                </p>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="p-3 border rounded">
                                <small class="text-muted d-block text-uppercase fw-bold mb-1"
                                    style="font-size: 0.7rem;">Accion: </small>
                                <div class="d-flex align-items-center">
                                    <i class="bi bi-badge me-2 text-secondary"></i>
                                    {{data['trg_action']}} el {{data['trg_date']}}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% for data in account %}
    <div class="modal fade" id="getTrigger{{data['trg_id']}}" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content border-0 shadow">

                <div class="modal-header bg-light">
                    <h5 class="modal-title">
                        Detalle de Cuenta
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body p-4">
                    <div class="row p-3 border rounded">
                        <div class="col-6">
                            <h6 class="text-secondary m-0">
                                {{data['acc_email'] if data['acc_email'] else (data['acc_number_phone'] if
                                data['acc_number_phone'] else 'Sin Cuenta')}}
                            </h6>
                            <div class="d-flex flex-column">
                                <small class="text-muted"><i class="bi bi-tag-fill me-2 text-secondary"></i>
                                    Apodo: {{data['acc_nickname']}}
                                </small>
                                <small class="text-muted"><i class="bi bi-person-fill me-2 text-secondary"></i>
                                    Proveedor: {{data['acc_provider']}}
                                </small>
                                <small class="text-muted"><i class="bi bi-calendar me-2 text-secondary"></i>
                                    {{data['acc_date_pay'] if data['acc_date_pay'] else '--'}}
                                </small>
                            </div>
                        </div>
                        <div class="col-6">
                            <h6 class="text-secondary text-end">
                                {{data['pla_name']}}
                            </h6>
                        </div>
                    </div>
                    <hr>
                    <div class="col-12">
                        <div class="p-3 border rounded">
                            <small class="text-muted d-block text-uppercase fw-bold mb-1"
                                style="font-size: 0.7rem;">Accion: </small>
                            <div class="d-flex align-items-center">
                                <i class="bi bi-badge me-2 text-secondary"></i>
                                {{data['trg_action']}} el {{data['trg_date']}}
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
{% endfor %}



{% endblock %}

{%block script%}
<script>
    $(document).ready(function () {
        $('#table').DataTable({
            order: [[0, "desc"]],
            pageLength: 10,
            language: {
                url: "https://cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json"
            },
            "columnDefs": [
                {
                    targets: [2], // Ajusta al índice de tu columna de fecha
                    render: function (data, type, row) {
                        if (type === 'display' && data) {
                            // Para formato ISO con hora: "2024-01-15 14:30:00"
                            let partes = data.split(' ');
                            if (partes.length === 2) {
                                let fechaPartes = partes[0].split('-');
                                if (fechaPartes.length === 3) {
                                    return `${fechaPartes[2]}/${fechaPartes[1]}/${fechaPartes[0]} ${partes[1]}`; // DD/MM/YYYY HH:MM:SS
                                }
                            }
                        }
                        return data;
                    }
                }
            ]
        });
        $('#tableSale').DataTable({
            order: [[0, "desc"]],
            pageLength: 10,
            language: {
                url: "https://cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json"
            },
            "columnDefs": [
                {
                    targets: [2], // Ajusta al índice de tu columna de fecha
                    render: function (data, type, row) {
                        if (type === 'display' && data) {
                            // Para formato ISO con hora: "2024-01-15 14:30:00"
                            let partes = data.split(' ');
                            if (partes.length === 2) {
                                let fechaPartes = partes[0].split('-');
                                if (fechaPartes.length === 3) {
                                    return `${fechaPartes[2]}/${fechaPartes[1]}/${fechaPartes[0]} ${partes[1]}`; // DD/MM/YYYY HH:MM:SS
                                }
                            }
                        }
                        return data;
                    }
                },
                {
                    "targets": [4],
                    "render": function (data, type, row) {
                        if (type === 'display') {
                            let formateado = new Intl.NumberFormat('es-CO', {
                                style: 'currency',
                                currency: 'COP',
                                minimumFractionDigits: 0,
                                maximumFractionDigits: 0
                            }).format(data);

                            return formateado;

                        }
                        return data;
                    }
                }
            ]
        });
    });
</script>
{%endblock%}
