{% extends 'layouts/layout_2.html'%}
{% block body %}



<!-- Header -->
<div class="d-flex justify-content-between align-items-center mb-4">
    <div>
        <h3 class="fw-bold text-dark m-0">Cuentas de {{pla_name}}</h3>
        <small class="text-dark-emphasis fw-medium">Gestión de cuentas de la plataforma</small>
    </div>
    <div class="d-flex">
        <a href="{{url_for('platform.getPlatform')}}" class="btn btn-outline-secondary me-2">
            <i class="bi bi-arrow-left"></i>
        </a>
        {% if 'accounts.create' in session['permissionData'] %}
        <button class="btn d-none d-lg-flex btn_blue_plusgo accCrt" data-bs-toggle="modal"
            data-bs-target="#createModal">
            <i class="ti ti-mail-plus fs-5 me-1"></i> Nueva Cuenta
        </button>
        <button class="btn d-lg-none btn_blue_plusgo accCrt" data-bs-toggle="modal" data-bs-target="#createModal">
            <i class="ti ti-mail-plus fs-5"></i>
        </button>
        {% endif %}
    </div>
</div>

<!-- Tabla -->
<div class="card shadow-sm border-0"  data-aos="fade-in-up">
    <div class="card-body ">
        <table class="table table-hover align-middle" id="table">
            <thead>
                <tr>
                    <th class="text-dark text-nowrap fw-semibold">Apodo</th>
                    <th class="text-dark text-nowrap fw-semibold">Proveedor</th>
                    <th class="text-center text-dark text-nowrap fw-semibold">Fecha Pago</th>
                    <th class="text-center text-dark text-nowrap fw-semibold">Cuenta</th>
                    <th class="text-center text-dark text-nowrap fw-semibold">Estado</th>
                    {% if 'profiles.view' in session['permissionData'] or 'accounts.edit' in
                    session['permissionData'] or 'accounts.state' in session['permissionData'] %}
                    <th class="text-center text-dark text-nowrap fw-semibold">Acciones</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>

                {% for acc in account %}
                <tr>
                    <td class="text-nowrap fw-semibold text-dark-emphasis text-nowrap">
                        <a href="{{url_for('profile.getProfile', acc_id = acc[0])}}"
                            class="text-decoration-none text-dark-emphasis">
                            {{ acc[1] }}
                        </a>
                    </td>
                    <td class="text-nowrap text-dark-emphasis">{{ acc[2] }}</td>
                    <td class="text-center text-nowrap text-dark-emphasis ">{{ acc[3].strftime("%d/%m/%Y") }}</td>
                    <td class="text-center text-nowrap text-dark-emphasis ">
                        {% if acc[4] %}
                        {{acc[4]}}
                        {% elif acc[5] %}
                        ({{acc[5][0:3]}})
                        {{acc[5][3:6]}}-{{acc[5][6:]}}
                        {% elif acc[13] %}
                        {{acc[13]}}
                        {% else %}
                        Sin cuenta
                        {% endif %}
                    </td>

                    <td class="text-nowrap text-dark-emphasis text-center">
                        {% if acc[7] == "enable" %}
                        <span class="badge bg-primary-subtle text-primary-emphasis px-2 rounded-pill">Activa</span>
                        {% else %}
                        <span class="badge bg-danger-subtle text-danger-emphasis px-2 rounded-pill">Desactivada</span>
                        {% endif %}
                    </td>
                    {% if 'profiles.view' in session['permissionData'] or 'accounts.edit' in
                    session['permissionData'] or 'accounts.state' in session['permissionData'] %}
                    <td class="text-center text-nowrap">

                        <!-- Perfiles -->
                        <!-- <a href="{{url_for('profile.getProfile', acc_id = acc[0])}}"
                                    class="btn btn-sm btn-outline-secondary">
                                    <i class="bi bi-person-lines-fill"></i>
                                </a> -->
                        {% if 'profiles.view' in session['permissionData'] %}

                        <button class="btn btn-sm btn-outline-secondary dataProfiles" data-acc_id="{{acc[0]}}"
                            data-acc_nickname="{{acc[1]}}" data-pla_max_profiles="{{acc[10]}}"
                            data-acc_profiles="{{acc[12]}}" data-bs-toggle="modal" data-bs-target="#profilesModal"
                            onclick="getProfile(`{{acc[0]}}`)">
                            <i class="ti ti-tags fs-5"></i>
                        </button>
                        {% endif %}
                        {% if 'accounts.edit' in
                        session['permissionData'] %}

                        <!-- Editar -->
                        <button class="btn btn-sm btn-outline-primary accEdit " data-bs-toggle="modal"
                            data-bs-target="#editModal" data-acc_id="{{acc[0]}}" data-acc_nickname="{{acc[1]}}"
                            data-acc_provider="{{acc[2]}}" data-acc_date_pay="{{ acc[3].strftime('%d/%m/%Y') }}" data-acc_email="{{acc[4]}}"
                            data-acc_number_phone="{{acc[5]}}" data-acc_user="{{acc[13]}}"
                            data-acc_password="{{acc[6]}}">
                            <i class="ti ti-edit fs-5"></i>
                        </button>
                        {% endif %}
                        {% if 'accounts.state' in session['permissionData'] %}

                        <!-- Estado -->
                        <button class="btn btn-sm btn-outline-danger" onclick="confirmAccount('state','','{{acc[0]}}')">
                            <i class="ti ti-power fs-5"></i>
                        </button>
                        {% endif %}

                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>




<!-- Modal Editar -->
<div class="modal fade" id="editModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-light">
                <h5 class="modal-title fw-bold text-dark">Editar Cuenta</h5>
                <button type="button" class="btn-close"></button>
            </div>
            <form method="post" id="form_upd">
                <div class="modal-body row g-2">
                    <div class="col-6 col-md-4">
                        {{form.hidden_tag()}}
                        {{form.accnickname.label(class="form-label text-dark-emphasis")}}*
                        {{form.accnickname(class="form-control", placeholder="La normal")}}
                    </div>
                    <div class="col-6 col-md-4">
                        {{form.accprovider.label(class="form-label text-dark-emphasis")}}*
                        {{form.accprovider(class="form-control", placeholder="Yo mismo")}}
                    </div>
                    <div class="col-12 col-md-4">
                        {{form.accdatepay.label(class="form-label text-dark-emphasis")}}*
                        <div class="position-relative">
                            {{form.accdatepay(class="form-control", placeholder="Seleccione la fecha", autocomplete="off")}}
                            <i class=" fs-4 ti ti-calendar-event position-absolute top-50 button-50 end-0 translate-middle bg-white buttonDates" role="button"></i>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        {{form.accemail.label(class="form-label text-dark-emphasis")}}*
                        {{form.accemail(class="form-control", placeholder="plusgo@gmail.com")
                        }}
                    </div>
                    <div class="col-6 col-md-4">
                        {{form.accnumberphone.label(class="form-label text-dark-emphasis")}}*
                        {{form.accnumberphone(class="form-control", placeholder="3008000333")
                        }}
                    </div>
                    <div class="col-6 col-md-4">
                        {{form.accuser.label(class="form-label text-dark-emphasis")}}*
                        {{form.accuser(class="form-control", placeholder="plusgo123")}}
                    </div>
                    <div class="col-12 col-md-12">
                        {{form.accpassword.label(class="form-label text-dark-emphasis")}}
                        <div class="position-relative">
                            {{form.accpassword(class="form-control", placeholder="******")}}

                            <i id="eyeIcon"
                                class=" fs-4 ti ti-eye position-absolute top-50 button-50 end-0 translate-middle"
                                onclick="password('{{form.accpassword.id}}', this)" role="button">
                            </i>
                        </div>
                    </div>
                </div>
                <div class="modal-footer bg-light d-none">
                    {{form.btnSubmit( class="btn w-100 btn_blue_plusgo")}}
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Crear -->
<div class="modal fade" id="createModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header bg-light">
                <h5 class="modal-title fw-bold text-dark">Nueva Cuenta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <form action="{{url_for('account.crtAccount')}}" method="post">
                <div class="modal-body row g-2">
                    <div class="col-6 col-md-4">
                        {{form.hidden_tag()}}
                        {{form.accnickname.label(class="form-label text-dark-emphasis")}}*
                        {{form.accnickname(class="form-control", placeholder="La normal")}}
                    </div>
                    <div class="col-6 col-md-4">
                        {{form.accprovider.label(class="form-label text-dark-emphasis")}}*
                        {{form.accprovider(class="form-control", placeholder="Yo mismo")}}
                    </div>
                    <div class="col-12 col-md-4">
                        {{form.accdatepay.label(class="form-label text-dark-emphasis")}}*
                        <div class="position-relative">
                            {{form.accdatepay(class="form-control", placeholder="Seleccione la fecha", autocomplete="off")}}
                            <i class=" fs-4 ti ti-calendar-event position-absolute top-50 button-50 end-0 translate-middle bg-white buttonDates" role="button"></i>
                        </div>
                    </div>

                    <div class="col-12 col-md-4">
                        {{form.accemail.label(class="form-label text-dark-emphasis")}}*
                        {{form.accemail(class="form-control", placeholder="plusgo@gmail.com")}}
                    </div>
                    <div class="col-6 col-md-4">
                        {{form.accnumberphone.label(class="form-label text-dark-emphasis")}}*
                        {{form.accnumberphone(class="form-control accphonenumber", placeholder="3008000333")}}
                    </div>
                    <div class="col-6 col-md-4">
                        {{form.accuser.label(class="form-label text-dark-emphasis")}}*
                        {{form.accuser(class="form-control accuser", placeholder="plusgo123")}}
                    </div>
                    <div class="col-12 col-md-12">
                        {{form.accpassword.label(class="form-label text-dark-emphasis")}}
                        <div class="position-relative">
                            {{form.accpassword(class="form-control", placeholder="******")}}
                            <i id="eyeIcon"
                                class=" fs-4 ti ti-eye position-absolute top-50 button-50 end-0 translate-middle"
                                onclick="password('{{form.accpassword.id}}', this)" role="button">
                            </i>
                        </div>
                    </div>
                    <div class="col-12 form-check ms-2">
                        {{form.crtPros(class="form-check-input")}}
                        {{form.crtPros.label(class="form-check-label text-dark-emphasis")}}
                    </div>
                </div>
                <div class="modal-footer bg-light d-none">
                    {{form.btnSubmit( class="btn w-100 btn_blue_plusgo")}}
                </div>
            </form>
        </div>
    </div>
</div>

<!-- ================================================================= -->

<!-- Modal perfiles -->
<div class="modal fade" id="profilesModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">

            <div class="modal-header bg-light">
                <h5 class="modal-title fw-bold">Perfiles de <span id="acc_nickname_modal"></span>
                    <small class="fw-normal text-muted">(<span id="max_profile_account"></span>/<span
                            id="max_profile_platform"></span>)
                    </small>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body row g-2 content_modal-profiles">
            </div>
        </div>
    </div>
</div>



{% endblock %}

{% block script %}
<script src="{{url_for('static', filename='javascript/account.js')}}">
</script>
{% endblock %}