{% extends 'layouts/layout_2.html'%}
{% block body %}



<!-- Header -->
<div class="mb-4">
    <h3 class="fw-bold text-dark m-0">Consultar códigos</h3>
    <small class="text-dark-emphasis fw-medium">Gestión de cuentas de la plataforma</small>
</div>


<!-- Formulario -->
<div class="card shadow-sm mb-4">
    <div class="card-body">
        <form action="{{url_for('consult.getConsult')}}" method="post" class="row g-2">
            {{ form.hidden_tag() }}
            <div>
                {{ form.csltemail(class="form-control select", placeholder="Correo a consultar") }}
            </div>

            <div>
                {{ form.btnSubmit(class="btn w-100 btn_blue_plusgo") }}
            </div>
        </form>

    </div>
</div>

{% if result %}
<div class="card shadow-sm result-card" id="resultCards">
    <div class="card-header d-flex justify-content-between align-items-center gap-3">

        <!-- IZQUIERDA -->
        <div class="d-flex align-items-center gap-2 flex-grow-1 overflow-hidden">

            <div class="rounded-circle bg-primary-subtle d-flex justify-content-center align-items-center flex-shrink-0"
                style="width:50px; height:50px;">
                <i class="bi bi-envelope fs-4 text-primary-emphasis"></i>
            </div>

            <div class="d-flex flex-column overflow-hidden flex-grow-1">

                <div class="fw-semibold text-dark text-truncate" style="width: fit-content;" id="mailAsunto">
                </div>

                <small class="text-dark-emphasis fw-medium text-truncate" id="mailDe">
                </small>

            </div>

        </div>

        <!-- DERECHA -->
        <div class="d-flex flex-column flex-shrink-0 text-end">

            <small class="text-dark-emphasis text-nowrap" id="mailFecha">
            </small>

            <small class="text-dark-emphasis fw-medium" id="mailCounter">
                (1 / 1)
            </small>

        </div>

    </div>
    <div class="card-body position-relative">
        <!-- Flecha izquierda -->
        <a href="#" type="button"
            class="position-absolute top-50 start-0 translate-middle-y ms-5 text-dark-emphasis btn_cristal p-2 text-decoration-none rounded-2"
            id="mailPrevBtn">
            <i class="ti ti-chevron-left fs-4 fw-medium"></i>
        </a>

        <iframe id="mailModalFrame"  class="w-100" style="height: 70vh;" sandbox="allow-popups allow-popups-to-escape-sandbox"
            loading="lazy"></iframe>

        <!-- Flecha derecha -->
        <a href="#" type="button"
            class="position-absolute top-50 end-0 translate-middle-y me-5 text-dark-emphasis btn_cristal p-2 text-decoration-none rounded-2"
            id="mailNextBtn">
            <i class="ti ti-chevron-right fs-4 fw-medium"></i>
        </a>
    </div>
</div>

<script id="mailData" type="application/json">{{ result | tojson }}</script>
{% endif %}
{% endblock %}

{% block script %}

<script src="{{ url_for('static', filename = 'javascript/consult.js') }}"></script>

{% endblock %}