{% extends 'layouts/layout_2.html'%}
{% block body %}

<div class="d-flex justify-content-between mb-4">
    <div>
        <h3 class="fw-bold text-dark m-0">Cuentas del panel</h3>
        <small class="text-dark-emphasis fw-medium">Gestión de cuentas para realizar consultas de codigos</small>
    </div>
    <div>

        <div class="d-flex">
            {% if 'management.create' in session['permissionData'] %}
            <button class="btn d-none d-lg-flex btn_blue_plusgo accCrt" data-bs-toggle="modal"
                data-bs-target="#crtManage">
                <i class="ti ti-mail-plus fs-5 me-1"></i> Nueva Cuenta
            </button>
            <button class="btn d-lg-none btn_blue_plusgo accCrt" data-bs-toggle="modal" data-bs-target="#crtManage">
                <i class="ti ti-mail-plus fs-5"></i>
            </button>
            {% endif %}
        </div>
    </div>
</div>


<!-- Tabla -->
<div class="card shadow-sm border-0" data-aos="fade-in-up">
    <div class="card-body">

        <table class="table table-hover align-middle mb-0" id="table">
            <thead>
                <tr>
                    <th class="text-dark text-nowrap fw-semibold">Cuenta</th>
                    <th class="text-dark text-nowrap fw-semibold">IMAP</th>
                    <th class="text-dark text-nowrap fw-semibold">Remitente(s)</th>
                    <th class="text-dark text-nowrap fw-semibold text-center">Estado</th>
                    <th class="text-dark text-nowrap fw-semibold text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for data in data %}
                <tr>
                    <td class="text-nowrap fw-semibold text-dark-emphasis">{{data['mng_email']}}</td>
                    <td class="text-nowrap text-dark-emphasis">{{data['mng_imap']}}</td>
                    <td class="text-nowrap text-dark-emphasis">
                        {% for mng in data['mng_from'].split(', ') %}
                        <span class="badge bg-primary-subtle text-primary-emphasis px-2 rounded-pill text-capitalize">
                            {{mng}}
                        </span>
                        {% endfor %}
                    </td>
                    <td class="text-center">
                        {% if data['mng_state'] == 'active' %}
                        <span class="badge bg-primary-subtle text-primary-emphasis px-2 rounded-pill">
                            Activa
                        </span>
                        {% else %}
                        <span class="badge bg-danger-subtle text-danger-emphasis px-2 rounded-pill">
                            Inactiva
                        </span>
                        {% endif %}
                    </td>
                    <td class="text-center text-nowrap">
                        {% if 'management.edit' in session['permissionData'] %}
                        <button class="btn btn-sm btn-outline-primary dataManage" data-bs-toggle="modal"
                            data-bs-target="#putManage" data-mng_id="{{data['mng_id']}}"
                            data-mng_email="{{data['mng_email']}}" data-mng_imap="{{data['mng_imap']}}"
                            data-mng_from="{{data['mng_from'].lower()}}">
                            <i class="ti ti-edit fs-5"></i>
                        </button>
                        <button class="btn btn-sm btn-outline-secondary updPassword" data-bs-toggle="modal"
                            data-bs-target="#putPassword" data-mng_id="{{data['mng_id']}}"
                            data-mng_password="{{data['mng_password']}}">
                            <i class="ti ti-lock fs-5"></i>
                        </button>
                        {% endif %}
                        {% if 'management.state' in session['permissionData']%}
                        <button class="btn btn-sm btn-outline-danger"
                            onclick='confirmManage(`state`, ``, {account : `{{data["mng_email"]}}`, state : `{{data["mng_state"]}}`, id : `{{data["mng_id"]}}`})'>
                            <i class="ti ti-power fs-5"></i>
                        </button>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>


<!-- MODAL DE CREAR CUENTA -->
<div class="modal fade" id="crtManage" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header bg-light">
                <h5 class="modal-title fw-bold">Crear Cuenta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <form action="{{url_for('manage.crtManage')}}" method="post">
                <div class="modal-body row g-3">

                    {{ form.hidden_tag() }}

                    <div class="col-12">
                        {{form.mngemail.label(class="form-label text-dark-emphasis")}}*
                        {{ form.mngemail(class="form-control select", placeholder="plusgo.estreaming@gmail.com") }}
                    </div>

                    <div class="col-5">
                        {{form.mngimap.label(class="form-label text-dark-emphasis")}}*
                        {{ form.mngimap(class="form-control select-state", placeholder="imap.gmail.com") }}
                    </div>

                    <div class="col-7">
                        {{ form.mngpassword.label(class="form-label text-dark-emphasis") }}*

                        <div class="position-relative">
                            {{ form.mngpassword(class="form-control", placeholder="hyuj mmas riko papu") }}

                            <i id="eyeIcon"
                                class=" fs-4 ti ti-eye position-absolute top-50 button-50 end-0 translate-middle"
                                onclick="password('{{form.mngpassword.id}}', this)" role="button">
                            </i>
                        </div>
                    </div>
                    <div class="col-md-12">
                        {{form.mngfrom.label(class="form-label text-dark-emphasis")}}*
                        {{ form.mngfrom(class="form-control select-multiple d-none", placeholder="Disney") }}
                    </div>

                </div>
                <div class="modal-footer bg-light d-none">
                    {{form.btnSubmit(class="btn w-100 btn_blue_plusgo")}}
                </div>
            </form>
        </div>
    </div>
</div>

<!-- MODAL DE EDITAR CUENTA -->
<div class="modal fade" id="putManage" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header bg-light">
                <h5 class="modal-title fw-bold">Actualizar Cuenta</h5>
                <button type="button" class="btn-close"></button>
            </div>

            <form method="post">
                <div class="modal-body row g-3">

                    {{ form.hidden_tag() }}

                    <div class="col-9">
                        {{form.mngemail.label(class="form-label text-dark-emphasis")}}*
                        {{ form.mngemail(class="form-control select", placeholder="plusgo.estreaming@gmail.com") }}
                    </div>

                    <div class="col-3">
                        {{form.mngimap.label(class="form-label text-dark-emphasis")}}*
                        {{ form.mngimap(class="form-control select-state", placeholder="imap.gmail.com") }}
                    </div>

                    <div class="col-md-12">
                        {{form.mngfrom.label(class="form-label text-dark-emphasis")}}*
                        {{ form.mngfrom(class="form-control select-multiple d-none", placeholder="Disney") }}
                    </div>

                </div>
                <div class="modal-footer bg-light d-none">
                    {{form.btnSubmit(class="btn w-100 btn_blue_plusgo")}}
                </div>
            </form>

        </div>
    </div>
</div>

<!-- MODAL DE EDITAR CONTRASEÑA DE CUENTA -->
<div class="modal fade" id="putPassword" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-light">
                <h5 class="modal-title fw-bold">Clave de App</h5>
                <button type="button" class="btn-close"></button>
            </div>

            <form method="post">
                <div class="modal-body row g-3">
                    <div class="col-12">
                        {{ form.mngpassword.label(class="form-label text-dark-emphasis") }}*
                        <div class="position-relative">
                            {{ form.mngpassword(class="form-control mngpassword", placeholder="hyuj mmas riko papu") }}

                            <i id="eyeIcon"
                                class=" fs-4 ti ti-eye position-absolute top-50 button-50 end-0 translate-middle"
                                onclick="password('{{form.mngpassword.id}}', this)" role="button">
                            </i>
                        </div>
                    </div>
                </div>
                <div class="modal-footer bg-light d-none">
                    {{form.btnSubmit(class="btn w-100 btn_blue_plusgo")}}
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}

{% block script %}

<script src="{{ url_for('static', filename = 'javascript/manage.js') }}"></script>

{% endblock %}