{% extends 'layouts/layout_2.html'%}
{% block body %}
<!-- SweetAlert -->
{% for category, message in get_flashed_messages(with_categories=true) %}
<script>
    Swal.fire({
        title: '{{ message }}',
        icon: '{{ "warning" if category=="error" else "success" if category=="success" else "info" }}',
        timer: 3000,
        showConfirmButton: false
    });
</script>
{% endfor %}

<div class="col p-4">

    <div class="d-flex justify-content-between mb-4">
        <div>
            <h3 class="fw-bold mb-0">Panel de codigos</h3>
            <small class="text-muted">Gestión de cuentas para consultar codigo</small>
        </div>
        <div>
            <button class="btn d-none d-lg-flex" style="background-color: rgba(4,17,43,0.92); color:white;"
                data-bs-toggle="modal" data-bs-target="#crtManage">
                <i class="bi bi-plus-lg"></i> Nueva Cuenta
            </button>
            <button class="btn d-lg-none" style="background-color: rgba(4,17,43,0.92); color:white;"
                data-bs-toggle="modal" data-bs-target="#crtManage">
                <i class="bi bi-plus-lg"></i>
            </button>

        </div>

    </div>


    <!-- Tabla -->
    <div class="card shadow-sm border-0" data-aos="zoom-in-up">
        <div class="card-body p-4">
            <div class="table-responsive">

                <table class="table table-hover align-middle mb-0" id="table">
                    <thead>
                        <tr>
                            <th>Correo</th>
                            <th>IMAP</th>
                            <th>Remitente</th>
                            <th class="text-center">Estado</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in data %}
                        <tr>
                            <td>{{data['mng_email']}}</td>
                            <td>{{data['mng_imap']}}</td>
                            <td>{{data['mng_from']}}</td>
                            <td class="text-center">
                                {% if data['mng_state'] == 'active' %}
                                <span class="badge bg-primary">Activo</span>
                                {% else %}
                                <span class="badge bg-secondary">Inactivo</span>
                                {% endif %}
                            </td>
                            <td class="text-center text-nowrap">

                                <button class="btn btn-sm btn-outline-primary dataManage" data-bs-toggle="modal"
                                    data-bs-target="#putManage" data-mng_id = "{{data['mng_id']}}" data-mng_email = "{{data['mng_email']}}" data-mng_imap = "{{data['mng_imap']}}" data-mng_from = "{{data['mng_from']}}">
                                    <i class="bi bi-pencil-square"></i>
                                </button>

                                <button class="btn btn-sm btn-outline-secondary dataManage" data-bs-toggle="modal"
                                    data-bs-target="#putPassword" data-mng_id = "{{data['mng_id']}}" data-mng_password = "{{data['mng_password']}}">
                                    <i class="bi bi-lock"></i>
                                </button>

                                <button class="btn btn-sm btn-outline-danger"
                                    onclick='confirmState(`{{data["mng_state"]}}`,`{{data["mng_id"]}}`)'>
                                    <i class="bi bi-power"></i>
                                </button>

                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<!-- MODAL DE CREAR CUENTA -->
<div class="modal fade" id="crtManage" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Crear Cuenta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <form action="{{url_for('manage.crtManage')}}" method="post" id="form_crt">
                    <div class="row g-4">
                        {{ form.hidden_tag() }}

                        <div class="col-md-6">
                            {{form.mngemail.label(class="form-label")}}*
                            {{ form.mngemail(class="form-control", placeholder="plusgo.estreaming@gmail.com") }}
                        </div>

                        <div class="col-md-6">
                            {{form.mngimap.label(class="form-label")}}*
                            {{ form.mngimap(class="form-control", placeholder="imap.gmail.com") }}
                        </div>

                        <div class="col-md-6">
                            {{ form.mngpassword.label(class="form-label") }}*

                            <div class="position-relative">
                                {{ form.mngpassword(class="form-control", placeholder="hyuj mmas riko papu") }}

                                <i id="eyeIcon"
                                    class=" fs-4 bi bi-eye position-absolute top-50 button-50 end-0 translate-middle"
                                    onclick="password()">
                                </i>
                            </div>
                        </div>
                        <div class="col-md-6">
                            {{form.mngfrom.label(class="form-label")}}*
                            {{ form.mngfrom(class="form-control", placeholder="Disney") }}
                        </div>
                        <div class="col-md-12">
                            {{ form.btnSubmit(class="btn w-100", style="background-color: rgba(4,17,43,0.92);
                            color:white;",
                            id="validateFormCrt") }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- MODAL DE EDITAR CUENTA -->
<div class="modal fade" id="putManage" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Actualizar Cuenta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <form method="post"
                    id="form_upd{{data['mng_id']}}" class="row g-3">
                    {{ form.hidden_tag() }}
                    <div>
                        {{form.mngemail.label(class="form-label")}}*
                        {{ form.mngemail(class="form-control mngemail", placeholder="plusgo.estreaming@gmail.com") }}
                    </div>

                    <div>
                        {{form.mngimap.label(class="form-label")}}*
                        {{ form.mngimap(class="form-control mngimap", placeholder="imap.gmail.com") }}
                    </div>
                    <div>
                        {{form.mngfrom.label(class="form-label")}}*
                        {{ form.mngfrom(class="form-control mngfrom", placeholder="Disney") }}
                    </div>
                    <div>
                        {{ form.btnSubmit(class="btn w-100 validateFormUpd",style="background-color: rgba(4,17,43,0.92);
                        color:white;"
                        )}}
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<!-- MODAL DE EDITAR CONTRASEÑA DE CUENTA -->
<div class="modal fade" id="putPassword" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Clave de App</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <form method="post" id="form_pass">

                    <div class="mb-3">
                        {{ form.mngpassword.label(class="form-label") }}*
                        <div class="position-relative">
                            {{ form.mngpassword(class="form-control mngpassword", placeholder="hyuj mmas riko papu") }}

                            <i id="eyeIcon"
                                class=" fs-4 bi bi-eye position-absolute top-50 button-50 end-0 translate-middle"
                                onclick="password()">
                            </i>
                        </div>
                    </div>
                    <div class="d-grid">
                        {{ form.btnSubmit(class="btn w-100 validateFormPass", style="background-color:
                        rgba(4,17,43,0.92); color:
                        white;") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block script %}

<script src="{{ url_for('static', filename = 'javascript/manage.js') }}"></script>

{% endblock %}
