{% extends 'layouts/layout_2.html'%}
{% block body %}
<!-- VALIDAR MENSAJES FLASH DEL BACKEND -->
{% for category, message in get_flashed_messages(with_categories=true) %}
<script>
    Swal.fire({
        title: '{{ message }}',
        icon: '{{ "error" if category=="error" else "success" if category=="success" else "info" }}',
        timer: 3000,
        showConfirmButton: false
    });
</script>
{% endfor %}

<div class="col p-4">

    <!-- Header -->
    <div class="d-flex justify-content-between align-items-center mb-4">
        <div>

            <h3 class="fw-bold m-0">Plataformas</h3>
            <small class="text-muted">Gestion de plataformas</small>
        </div>
        <div>
            <button class="btn d-none d-lg-flex" data-bs-toggle="modal" data-bs-target="#createModal"
                style="background-color: rgba(4,17,43,0.92); color: white;">
                <i class="bi bi-plus-lg"></i> Nueva Plataforma
            </button>
            <button class="btn d-lg-none" data-bs-toggle="modal" data-bs-target="#createModal"
                style="background-color: rgba(4,17,43,0.92); color: white;">
                <i class="bi bi-plus-lg"></i>
            </button>
        </div>
    </div>

    <!-- Tabla -->
    <div class="card shadow border-0" data-aos="zoom-in-up">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover align-middle" id="table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Perfiles</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in platform %}
                        <tr>
                            <td>
                                <a href="{{url_for('account.getAccount', pla_id = p[0])}}"
                                    class="text-nowrap fw-medium text-decoration-none text-dark">
                                    {{ p[1] }}
                                </a>
                            </td>
                            <td>
                                <span class="badge bg-primary">
                                    {{ p[2] }} perfiles
                                </span>
                            </td>

                            <td class="text-center">

                                <!-- Ver cuentas -->
                                <a href="{{url_for('account.getAccount', pla_id = p[0])}}"
                                    class="btn btn-sm btn-outline-secondary">
                                    <i class="bi bi-collection"></i>
                                </a>

                                <!-- Editar -->
                                <button class="btn btn-sm btn-outline-primary dataPlatform" data-bs-toggle="modal"
                                    data-bs-target="#editModal" data-pla_name = "{{p[1]}}" data-pla_profiles = "{{p[2]}}" data-pla_id = "{{p[0]}}" data-pla_message = "{{p[3]}}">
                                    <i class="bi bi-pencil-square"></i>
                                </button>

                            </td>
                        </tr>


                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal Editar -->
<div class="modal fade" id="editModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Editar Plataforma</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <form method="post" id="form_upd">
                <div class="modal-body row g-2">
                    {{form.hidden_tag()}}
                    <div class="col-md-6">
                        {{ form.planame.label(class="form-label") }}*
                        {{ form.planame(class="form-control planame", placeholder="Netflix") }}
                    </div>
                    <div class="col-md-6">
                        {{ form.plaprofiles.label(class="form-label") }}*
                        {{ form.plaprofiles(class="form-control plaprofiles", placeholder="5") }}
                    </div>
                    <div class="col-md-12">
                        {{ form.plamessage.label(class="form-label") }}
                        {{ form.plamessage(class="form-control plamessage", placeholder="Mensaje para el usuario") }}
                    </div>
                </div>

                <div class="modal-footer">
                    {{form.btnSubmit(class="btn w-100 validateFormUpd",
                    style="background-color: rgba(4,17,43,0.92); color: white;")}}
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Crear -->
<div class="modal fade" id="createModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Nueva Plataforma</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <form method="post" id="form_crt">
                <div class="modal-body row g-2">
                    {{ form.hidden_tag() }}
                    <div class="col-md-6">
                        {{ form.planame.label(class="form-label") }}*
                        {{ form.planame(class="form-control", placeholder="Netflix") }}
                    </div>
                    <div class="col-md-6">
                        {{ form.plaprofiles.label(class="form-label") }}*
                        {{ form.plaprofiles(class="form-control", placeholder="5") }}
                    </div>
                    <div class="col-md-12">
                        {{ form.plamessage.label(class="form-label") }}
                        {{ form.plamessage(class="form-control", placeholder="Mensaje para el usuario") }}
                    </div>
                </div>

                <div class="modal-footer">
                    {{form.btnSubmit(class="btn w-100",
                    style="background-color: rgba(4,17,43,0.92); color: white;",
                    id="validateFormCrt")}}
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{{url_for('static', filename = 'javascript/platform.js')}}"></script>
{% endblock %}
