{% extends 'layouts/layout_2.html'%}
{% block body %}

<!-- Header -->
<div class=" d-flex justify-content-between align-items-center mb-4">
    <div>
        <h3 class="fw-bold text-dark m-0">Configuracion de cuenta</h3>
        <small class="text-dark-emphasis fw-medium">Informacion general y personal del usuario de PlusGo</small>
    </div>


    <a href="{{url_for('dashboard.dashboard')}}" class="btn btn-outline-secondary me-2">
        <i class="bi bi-arrow-left"></i>
    </a>
</div>

<div class="d-flex flex-column gap-3 mb-2">
    <div data-aos="zoom-in-up">
        <div class="card border-1 border-ligth shadow-sm">
            <div class="card-body d-flex justify-content-between align-items-center getUser" role="button"
                data-bs-toggle="modal" data-bs-target="#getUser" data-user_name="{{user[1]}}"
                data-user_lastname="{{user[2]}}" data-user_user="{{user[3]}}" data-user_number_phone="{{user[5]}}">
                <div class="d-flex align-items-center">
                    <i class="ti ti-user-circle fs-4 text-primary me-2"></i>
                    <small class="text-dark-emphasis fw-medium">Administrar Cuenta.</small>
                </div>
                <div>
                    <i class="bi bi-chevron-right"></i>
                </div>
            </div>
        </div>
    </div>
    <div data-aos="zoom-in-up">
        <div class="card border-1 border-ligth shadow-sm">
            <div class="card-body d-flex justify-content-between align-items-center" role="button"
                data-bs-toggle="modal" data-bs-target="#permissionUser">
                <div class="d-flex align-items-center">
                    <i class="ti ti-license fs-4 text-primary me-2"></i>
                    <small class="text-dark-emphasis fw-medium">Informacion y Permisos.</small>
                </div>
                <div>
                    <i class="bi bi-chevron-right"></i>
                </div>
            </div>
        </div>
    </div>
    <div data-aos="zoom-in-up">
        <div class="card border-1 border-ligth shadow-sm">
            <div class="card-body d-flex justify-content-between align-items-center" role="button"
                data-bs-toggle="modal" data-bs-target="#passwordUser">
                <div class="d-flex align-items-center">
                    <i class="ti ti-password-user fs-4 text-primary me-2"></i>
                    <small class="text-dark-emphasis fw-medium">Administrar Contraseña.</small>
                </div>
                <div>
                    <i class="bi bi-chevron-right"></i>
                </div>
            </div>
        </div>
    </div>
    <div data-aos="zoom-in-up">
        <div class="card border-1 border-ligth shadow-sm">
            <div class="card-body d-flex justify-content-between align-items-center" data-bs-toggle="modal"
                data-bs-target="#">
                <div class="d-flex align-items-center">
                    <i class="ti ti-devices fs-4 text-primary me-2"></i>
                    <small class="text-dark-emphasis fw-medium">Dispositivos Vinculados. (PROX)</small>
                </div>
                <div>
                    <i class="bi bi-dash-lg"></i>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div data-aos="zoom-in-up">
        <div class="card border-1 border-ligth shadow-sm">
            <div class="card-body d-flex justify-content-between align-items-center" data-bs-toggle="modal"
                role="button" onclick="confirmLogout()">
                <div class="d-flex align-items-center">
                    <i class="ti ti-login fs-4 text-danger me-2"></i>
                    <small class="text-dark-emphasis fw-medium">Cerrar Session</small>
                </div>
                <div>
                    <i class="bi bi-chevron-right"></i>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- ================= MODAL PERMISOS ================= -->

<div class="modal fade" id="permissionUser" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-light">
                <h5 class="modal-title fw-bold text-nowrap text-truncate">Permisos del {{user[6]}} {{user[1] if user[1]
                    else
                    ''}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body p-4">
                <div class=" card-body table-responsive">
                    <table class="table table-hover align-middle" id="table">
                        <thead>
                            <tr>
                                <th class="text-nowrap text-black text-opacity-75 fw-semibold ">Permisos</th>
                                <th class="text-nowrap text-black text-opacity-75 fw-semibold text-center">Ver</th>
                                <th class="text-nowrap text-black text-opacity-75 fw-semibold text-center">Crear</th>
                                <th class="text-nowrap text-black text-opacity-75 fw-semibold text-center">Editar</th>
                                <th class="text-nowrap text-black text-opacity-75 fw-semibold text-center">Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- PLATAFORMAS -->
                            <tr>
                                <td class="text-nowrap fw-semibold text-decoration-none text-dark text-opacity-75">Gst.
                                    Plataformas</td>

                                <!-- VIEW -->
                                <td class="text-white shadows-sm fs-3">
                                    <div class="form-check">
                                        <input class="form-check-input m-auto" type="checkbox" {% if 'platforms.view' in
                                            session['permissionData'] %}checked{% endif %} disabled>
                                    </div>
                                </td>

                                <!-- CREATE -->
                                <td class="text-white shadows-sm fs-3">
                                    <div class="form-check">
                                        <input class="form-check-input m-auto" type="checkbox" {% if 'platforms.create'
                                            in session['permissionData'] %}checked{% endif %} disabled>
                                    </div>
                                </td>

                                <!-- EDIT -->
                                <td class="text-white shadows-sm fs-3">
                                    <div class="form-check">
                                        <input class="form-check-input m-auto" type="checkbox" {% if 'platforms.edit' in
                                            session['permissionData'] %}checked{% endif %} disabled>
                                    </div>
                                </td>

                                <!-- DELETE -->
                                <td class="text-white shadows-sm fs-3">
                                    <div class="form-check">
                                        <input class="form-check-input m-auto" type="checkbox" {% if 'platforms.delete'
                                            in session['permissionData'] %}checked{% endif %} disabled>
                                    </div>
                                </td>
                            </tr>


                            <!-- CUENTAS -->
                            <tr>
                                <td class="text-nowrap fw-semibold text-decoration-none text-dark text-opacity-75">Gst.
                                    Cuentas
                                </td>

                                <!-- VIEW -->
                                <td class="text-white shadows-sm fs-3">
                                    <div class="form-check">
                                        <input class="form-check-input m-auto" type="checkbox" {% if 'accounts.view' in
                                            session['permissionData'] %}checked{% endif %} disabled>
                                    </div>
                                </td>

                                <!-- CREATE -->
                                <td class="text-white shadows-sm fs-3">
                                    <div class="form-check">
                                        <input class="form-check-input m-auto" type="checkbox" {% if 'accounts.create'
                                            in session['permissionData'] %}checked{% endif %} disabled>
                                    </div>
                                </td>

                                <!-- EDIT -->
                                <td class="text-white shadows-sm fs-3">
                                    <div class="form-check">
                                        <input class="form-check-input m-auto" type="checkbox" {% if 'accounts.edit' in
                                            session['permissionData'] %}checked{% endif %} disabled>
                                    </div>
                                </td>

                                <!-- DELETE / STATE -->
                                <td class="text-white shadows-sm fs-3">
                                    <div class="form-check">
                                        <input class="form-check-input m-auto" type="checkbox" {% if 'accounts.state' in
                                            session['permissionData'] %}checked{% endif %} disabled>
                                    </div>
                                </td>
                            </tr>


                            <!-- PERFILES -->
                            <tr>
                                <td class="text-nowrap fw-semibold text-decoration-none text-dark text-opacity-75">Gst.
                                    Perfiles
                                </td>

                                <!-- VIEW -->
                                <td class="text-white shadows-sm fs-3">
                                    <div class="form-check">
                                        <input class="form-check-input m-auto" type="checkbox" {% if 'profiles.view' in
                                            session['permissionData'] %}checked{% endif %} disabled>
                                    </div>
                                </td>

                                <!-- CREATE -->
                                <td class="text-white shadows-sm fs-3">
                                    <div class="form-check">
                                        <input class="form-check-input m-auto" type="checkbox" {% if 'profiles.create'
                                            in session['permissionData'] %}checked{% endif %} disabled>
                                    </div>
                                </td>

                                <!-- EDIT -->
                                <td class="text-white shadows-sm fs-3">
                                    <div class="form-check">
                                        <input class="form-check-input m-auto" type="checkbox" {% if 'profiles.edit' in
                                            session['permissionData'] %}checked{% endif %} disabled>
                                    </div>
                                </td>

                                <!-- DELETE -->
                                <td class="text-white shadows-sm fs-3">
                                    <div class="form-check">
                                        <input class="form-check-input m-auto" type="checkbox" {% if 'profiles.delete'
                                            in session['permissionData'] %}checked{% endif %} disabled>
                                    </div>
                                </td>
                            </tr>


                            <!-- CLIENTES -->
                            <tr>
                                <td class="text-nowrap fw-semibold text-decoration-none text-dark text-opacity-75">Gst.
                                    Clientes
                                </td>

                                <!-- VIEW -->
                                <td class="text-white shadows-sm fs-3">
                                    <div class="form-check">
                                        <input class="form-check-input m-auto" type="checkbox" {% if 'customers.view' in
                                            session['permissionData'] %}checked{% endif %} disabled>
                                    </div>
                                </td>

                                <!-- CREATE -->
                                <td class="text-white shadows-sm fs-3">
                                    <div class="form-check">
                                        <input class="form-check-input m-auto" type="checkbox" {% if 'customers.create'
                                            in session['permissionData'] %}checked{% endif %} disabled>
                                    </div>
                                </td>

                                <!-- EDIT -->
                                <td class="text-white shadows-sm fs-3">
                                    <div class="form-check">
                                        <input class="form-check-input m-auto" type="checkbox" {% if 'customers.edit' in
                                            session['permissionData'] %}checked{% endif %} disabled>
                                    </div>
                                </td>

                                <!-- SIN DELETE -->
                                <td class="text-white shadows-sm fs-3">
                                    <div class="form-check">
                                        <input class="form-check-input m-auto" type="checkbox" disabled>
                                    </div>
                                </td>
                            </tr>


                            <!-- VENTAS -->
                            <tr>
                                <td class="text-nowrap fw-semibold text-decoration-none text-dark text-opacity-75">Gst.
                                    Ventas
                                </td>

                                <!-- VIEW -->
                                <td class="text-white shadows-sm fs-3">
                                    <div class="form-check">
                                        <input class="form-check-input m-auto" type="checkbox" {% if 'sales.view' in
                                            session['permissionData'] %}checked{% endif %} disabled>
                                    </div>
                                </td>

                                <!-- CREATE -->
                                <td class="text-white shadows-sm fs-3">
                                    <div class="form-check">
                                        <input class="form-check-input m-auto" type="checkbox" {% if 'sales.create' in
                                            session['permissionData'] %}checked{% endif %} disabled>
                                    </div>
                                </td>

                                <!-- EDIT -->
                                <td class="text-white shadows-sm fs-3">
                                    <div class="form-check">
                                        <input class="form-check-input m-auto" type="checkbox" {% if 'sales.edit' in
                                            session['permissionData'] %}checked{% endif %} disabled>
                                    </div>
                                </td>

                                <!-- DELETE -->
                                <td class="text-white shadows-sm fs-3">
                                    <div class="form-check">
                                        <input class="form-check-input m-auto" type="checkbox" {% if 'sales.delete' in
                                            session['permissionData'] %}checked{% endif %} disabled>
                                    </div>
                                </td>
                            </tr>


                            <!-- RBAC -->
                            <tr>
                                <td class="text-nowrap fw-semibold text-decoration-none text-dark text-opacity-75">Gst.
                                    Roles y
                                    Permisos</td>

                                <!-- VIEW -->
                                <td class="text-white shadows-sm fs-3">
                                    <div class="form-check">
                                        <input class="form-check-input m-auto" type="checkbox" {% if 'rbacs.view' in
                                            session['permissionData'] %}checked{% endif %} disabled>
                                    </div>
                                </td>

                                <!-- CREATE -->
                                <td class="text-white shadows-sm fs-3">
                                    <div class="form-check">
                                        <input class="form-check-input m-auto" type="checkbox" {% if 'rbacs.create' in
                                            session['permissionData'] %}checked{% endif %} disabled>
                                    </div>
                                </td>

                                <!-- EDIT -->
                                <td class="text-white shadows-sm fs-3">
                                    <div class="form-check">
                                        <input class="form-check-input m-auto" type="checkbox" {% if 'rbacs.edit' in
                                            session['permissionData'] %}checked{% endif %} disabled>
                                    </div>
                                </td>

                                <!-- DELETE -->
                                <td class="text-white shadows-sm fs-3">
                                    <div class="form-check">
                                        <input class="form-check-input m-auto" type="checkbox" {% if 'rbacs.delete' in
                                            session['permissionData'] %}checked{% endif %} disabled>
                                    </div>
                                </td>
                            </tr>


                            <!-- MANAGEMENT -->
                            <tr>
                                <td class="text-nowrap fw-semibold text-decoration-none text-dark text-opacity-75">Gst.
                                    de
                                    codigos</td>

                                <!-- VIEW -->
                                <td class="text-white shadows-sm fs-3">
                                    <div class="form-check">
                                        <input class="form-check-input m-auto" type="checkbox" {% if 'management.view'
                                            in session['permissionData'] %}checked{% endif %} disabled>
                                    </div>
                                </td>

                                <!-- CREATE -->
                                <td class="text-white shadows-sm fs-3">
                                    <div class="form-check">
                                        <input class="form-check-input m-auto" type="checkbox" {% if 'management.create'
                                            in session['permissionData'] %}checked{% endif %} disabled>
                                    </div>
                                </td>

                                <!-- EDIT -->
                                <td class="text-white shadows-sm fs-3">
                                    <div class="form-check">
                                        <input class="form-check-input m-auto" type="checkbox" {% if 'management.edit'
                                            in session['permissionData'] %}checked{% endif %} disabled>
                                    </div>
                                </td>

                                <!-- STATE -->
                                <td class="text-white shadows-sm fs-3">
                                    <div class="form-check">
                                        <input class="form-check-input m-auto" type="checkbox" {% if 'management.state'
                                            in session['permissionData'] %}checked{% endif %} disabled>
                                    </div>
                                </td>
                            </tr>


                            <!-- CÓDIGOS -->
                            <tr>
                                <td class="text-nowrap fw-semibold text-decoration-none text-dark text-opacity-75">
                                    Consulta de
                                    Códigos</td>

                                <!-- CONSULT -->
                                <td class="text-white shadows-sm fs-3">
                                    <div class="form-check">
                                        <input class="form-check-input m-auto" type="checkbox" {% if 'codes.consult' in
                                            session['permissionData'] %}checked{% endif %} disabled>
                                    </div>
                                </td>

                                <td class="text-white shadows-sm fs-3">
                                    <div class="form-check">
                                        <input class="form-check-input m-auto" type="checkbox" disabled>
                                    </div>
                                </td>
                                <td class="text-white shadows-sm fs-3">
                                    <div class="form-check">
                                        <input class="form-check-input m-auto" type="checkbox" disabled>
                                    </div>
                                </td>
                                <td class="text-white shadows-sm fs-3">
                                    <div class="form-check">
                                        <input class="form-check-input m-auto" type="checkbox" disabled>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- ================= MODAL CONTRASEÑA ================= -->

<div class="modal fade" id="passwordUser" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-light">
                <h5 class="modal-title fw-bold">Administrar contraseña</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <form action="{{url_for('user.putPassword', user_id = user[0])}}"  method="post" id="formpassword">
                <div class="modal-body p-0">

                    {{ PasswordForm.csrf_token() }}
                    <div class="p-4">
                        <p class="text-black text-opacity-75 text-break">Protege tu cuenta con una contraseña exclusiva
                            de al menos 5 caracteres.</p>
                        <div class=" userpassword">
                            <div class="form-floating position-relative">
                                {{PasswordForm.userpassword(class="form-control shadow-sm", placeholder="****")}}
                                <label class="form-label">{{PasswordForm.userpassword.label()}}*</label>
                                <i class="fs-5 text-opacity-75 text-black ti ti-eye fs-5 position-absolute top-50 button-50 end-0 translate-middle"
                                    role="button" onclick="password('{{PasswordForm.userpassword.id}}',this)">
                                </i>
                            </div>
                            <small>
                                <a href="#" class="text-black text-opacity-25 pe-none">¿Olvidaste tu contraseña?</a>
                            </small>
                        </div>
                        <hr>
                        <div class="userpasswordnew mb-2">
                            <div class="form-floating position-relative">
                                {{PasswordForm.userpasswordnew(class="form-control shadow-sm", placeholder="****")}}
                                <label class="form-label">{{PasswordForm.userpasswordnew.label()}}*</label>
                                <i id="eyeIcon"
                                    class=" fs-5 text-opacity-75 text-black ti ti-eye fs-5 position-absolute top-50 button-50 end-0 translate-middle"
                                    role="button" onclick="password('{{PasswordForm.userpasswordnew.id}}',this)">
                                </i>
                            </div>
                        </div>
                        <div class="userpasswordcheck mb-2">
                            <div class="form-floating position-relative">
                                {{PasswordForm.userpasswordcheck(class="form-control shadow-sm", placeholder="****")}}
                                <label class="form-label">{{PasswordForm.userpasswordcheck.label()}}*</label>
                                <i id="eyeIcon"
                                    class=" fs-5 text-opacity-75 text-black ti ti-eye fs-5 position-absolute top-50 button-50 end-0 translate-middle"
                                    role="button" onclick="password('{{PasswordForm.userpasswordcheck.id}}',this)">
                                </i>
                            </div>
                        </div>
                        <div class="userclosesession">
                            <div class="form-check ">
                                {{PasswordForm.userclosesession(class="form-check-input
                                shadow-sm",
                                disabled=true)}}{{PasswordForm.userclosesession.label(class="form-check-label text-black
                                text-opacity-75")}}
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer bg-light">
                        {{PasswordForm.btnSubmit(class="btn w-100 btn_blue_plusgo",
                        onclick="validatePassword(this, event)")}}
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<!-- ================= MODAL USUARIO ================= -->

<div class="modal fade" id="getUser" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-light">
                <h5 class="modal-title fw-bold">Administrar cuenta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form action="{{url_for('user.putAccounts', user_id = user[0])}}" method="post" id="formuser">
                <div class="modal-body p-4">
                    <div class="d-flex flex-column align-items-center mb-3">
                        <div class="rounded-circle {{'bg-primary-subtle' if user[6].lower() == 'gerente' else ('bg-info-subtle' if user[6].lower() == 'admin' else 'bg-success-subtle')}} shadow-sm d-flex justify-content-center align-items-center"
                            style="height: 150px; width: 150px;">
                            <i class="bi bi-person-fill {{'text-primary-emphasis' if user[6].lower() == 'gerente' else ('text-info-emphasis' if user[6].lower() == 'admin' else 'text-success-emphasis')}} datauser"
                                style="font-size: 80px"></i>
                        </div>
                        <small
                            class="{{'text-primary-emphasis' if user[6].lower() == 'gerente' else ('text-info-emphasis' if user[6].lower() == 'admin' else 'text-success-emphasis')}} text-opacity-50 fw-semibold text-uppercase mt-1">{{user[6]}}</small>
                    </div>
                    {{ form.csrf_token() }}
                    <div class="border border-1 border-seccondary shadow-sm rounded bg-light bg-opacity-50">

                        <div class="p-3 usernamedata d-flex justify-content-between align-items-center" role="button">
                            <span class="fw-semibold">{{ form.username.label() }}.</span>
                            <div class="text-nowrap  text-truncate">
                                <span class="text-seccondary" id="usernametext">{{user[1] if user[1] else 'Sin nombre'}}
                                    <i class="bi bi-chevron-right"></i>
                                </span>
                            </div>
                        </div>

                        <div class="p-3 usernameinput d-none" role="button">
                            <div class="d-flex justify-content-between align-items-center text-muted">
                                {{ form.username.label(class="form-label") }}
                                <i class="bi bi-chevron-up usernameinputclose"></i>
                            </div>
                            {{ form.username(class="form-control", placeholder="Noel", value=user[1]) }}
                        </div>


                        <hr class="my-0">


                        <div class="p-3 userlastnamedata d-flex justify-content-between align-items-center"
                            role="button">
                            <span class="fw-semibold">{{ form.userlastname.label() }}.</span>
                            <div class="text-nowrap  text-truncate">
                                <span class="text-seccondary" id="userlastnametext">{{user[2] if user[2] else 'Sin
                                    Apellido'}}
                                    <i class="bi bi-chevron-right"></i>
                                </span>
                            </div>
                        </div>

                        <div class="p-3 userlastnameinput d-none" role="button">
                            <div class="d-flex justify-content-between align-items-center text-muted">
                                {{ form.userlastname.label(class="form-label") }}
                                <i class="bi bi-chevron-up userlastnameinputclose"></i>
                            </div>
                            {{ form.userlastname(class="form-control", placeholder="Rey", value=user[2] if user [2] else
                            '' ) }}
                        </div>


                        <hr class="my-0">


                        <div class="p-3  useruserdata d-flex justify-content-between align-items-center" role="button">
                            <span class="fw-semibold">{{ form.useruser.label() }}.</span>
                            <div class="text-nowrap  text-truncate">
                                <span class="text-seccondary" id="userusertext">{{user[3] if user[3] else 'user777'}}
                                    <i class="bi bi-chevron-right"></i>
                                </span>
                            </div>
                        </div>

                        <div class="p-3 useruserinput d-none" role="button">
                            <div class="d-flex justify-content-between align-items-center text-muted">
                                {{ form.useruser.label(class="form-label") }}
                                <i class="bi bi-chevron-up useruserinputclose"></i>
                            </div>
                            {{ form.useruser(class="form-control", placeholder="patricio12", value=user[3]) }}
                        </div>

                        <hr class="my-0">


                        <div class="p-3  usernumberphonedata d-flex justify-content-between align-items-center"
                            role="button">
                            <span class="fw-semibold">{{ form.usernumberphone.label() }}.</span>
                            <div class="text-nowrap  text-truncate">
                                <span class="text-seccondary" id="usernumberphonetext">
                                    {% if user[5] | length == 10 %}
                                    ({{user[5][0:3]}}) {{user[5][3:6]}}-{{user[5][6:]}}
                                    {% else %}
                                    {{'Sin Numero'}}
                                    {% endif %}
                                    <i class="bi bi-chevron-right"></i>
                                </span>
                            </div>
                        </div>

                        <div class="p-3 usernumberphoneinput d-none" role="button">
                            <div class="d-flex justify-content-between align-items-center text-muted">
                                {{ form.usernumberphone.label(class="form-label") }}
                                <i class="bi bi-chevron-up usernumberphoneinputclose"></i>
                            </div>
                            {{ form.usernumberphone(class="form-control", placeholder="Num. de celular", value=user[5])
                            }}
                        </div>

                        <hr class="my-0">


                        <div class="p-3 d-flex justify-content-between align-items-center" role="button">
                            <span class="fw-semibold">Rol.</span>
                            <div class="text-nowrap  text-truncate">
                                <span class="text-seccondary">
                                    {{ user[6] }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer bg-light w-100 d-none btnuser">
                    {{form.btnSubmit(class="btn w-100 btn_blue_plusgo")}}
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}

{%block script%}
<script src="{{ url_for('static', filename = 'javascript/user.js') }}"></script>

{%endblock%}